<!DOCTYPE html>
<html>

<head>
    <title>Result</title>

    <body>
        <div>
            <form action="result">
                <b><p>Enter your parameter: <input type="text" name='result' placeholder='Your input value'><br><br></b></p>
                <b><p>Enter First number : <input type='text' name='first' placeholder="first number"><br><br></p></b>
                <b><p>Enter Second number : <input type='text' name='second' placeholder="second number"><br><br></p></b>
                <input type="submit" value="submit">
            </form><br>
        </div>
    </body>
</head>

</html>